 @media (min-width: 360px) {
  .modal-content {
   background: transparent;
    border: 0px;
}}
@media (max-width: 360px)
{

 .ptext {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   padding-bottom: 5px;
}
.footer-text{
  font-size: 19px;
    display: inline-grid;
} 
}
@media (min-width: 360px)
{

 .ptext {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   padding-bottom: 5px;
}
.footer-text{
  font-size: 19px;
    display: inline-grid;
} 
}
  .form{width:340px;height:440px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{margin:10px 0;padding-bottom:10px;width: max-content;color:#78788c;border-bottom:3px solid #78788c}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{border-bottom:2px solid #78788c}
.float{
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
    color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
}

.my-float{
  margin-top:16px;
}
.divfloat{
         position: fixed;
    width: 88px;
    height: 24px;
    bottom: 24px;
    right: 75px;
    background-color: #040404;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    /* box-shadow: 2px 2px 3px #999; */
   
    /* box-shadow: 2px 2px 3px #999; */
z-index: 100;
      animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.footer-social-icon a {
  margin-right: 0px; 
}

select {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    background-color: #eee;
    width: 100%;
    border-width: 0;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    padding: 16px;
  }
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 4rem;
}
.mycheckbox{
  display: flex;

}
.mycheckbox input{
  width: auto;
}
.mycheckbox label{
      padding: 0px 7px;
    color: white;
    margin-top: -4px;
    font-size: smaller;
}
.modal-content {
   background:  #003b4d;
    border: 0px;
}

 @media (max-width: 580px) {
.et_pb_image_3 .et_pb_image_wrap, .et_pb_image_3 img {
    width: 100%;
}
.et_pb_row_8.et_pb_row {
    margin-bottom: 30px!important;
  }
.et_pb_text_23 h2 {
    width: 100%;
}

  }
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
    background-color: #151414;
}
.copyright-text p a {
  color: #fff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-transform: capitalize;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media (min-width: 981px){
.et_pb_gutters3.et_pb_footer_columns4 .footer-widget {
     width: 82%; 
}

   
.modal-content {
   background: #003b4d;
    border: 0px;
}
.form{width:340px;height:440px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{margin:10px 0;padding-bottom:10px;width:fit-content;color:#78788c;border-bottom:3px solid #78788c}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{border-bottom:2px solid #78788c}





.card {
     box-shadow: 13px 2px 14px rgba(0,0,0,0.3);
    border-radius: 15px;
    border: none;
    margin-top: 23px;
}

.card img {
  border-radius: 15px 15px 0 0;
}

.card-body {
  border-radius: 0px 0px 15px 15px;
}

/* Horizontal line */
hr {
  background: rgb(255,255,255);
  height: 5px;
  width: 10%;
  padding: 2px;
  border-radius: 50px;
  background-repeat:repeat-x; 
}

/* Buttons Style */

.btn-primary {
  transition: all 300ms ease-in;
  background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid rgba(2,0,36,1);
}

.btn-primary:hover {
  transition: all 300ms ease-out;
  background: rgb(2,0,36);
  background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(74,0,224,1) 40%);
  border: 1px solid rgba(2,0,36,1);
}
/* Responsive */
}
@media screen and (max-width: 980px) {
  #cards-columns {
  height: auto;
}
}
@media screen and (max-width: 720px) {
  #cards-columns {
  height: 100%;
}
}


.card:hover{
     margin-top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#cards-columns{
      padding-bottom: 30px
}
.et_pb_section_1.et_pb_section {
    padding-top:0px; 
    padding-bottom:0px;
}

@media only screen and (min-width: 1350px){
.et_pb_section {
    padding: 0 0;
}
}
@media (min-width: 981px){
.et_pb_section {
    padding: 0 0; 
}
}
.white-btn{
  color: #ffffff;
}
.mb-25{
  margin-bottom: 25px;

}
.mb-30{
  margin-bottom: 30px;
}
@media screen and (max-width: 720px) {
}
.float{
    position: fixed;
    width: 36px;
    height: 30px;
    bottom: 50px;
    right: 40px;
    background-color: transparent;
    color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
}

.my-float{
  margin-top:16px;
}
.divfloat{
         position: fixed;
    width: 88px;
    height: 24px;
    bottom: 40px;
    right: 84px;
    background-color: #040404;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    /* box-shadow: 2px 2px 3px #999; */
   
    /* box-shadow: 2px 2px 3px #999; */
z-index: 100;
      animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}



@media (min-width: 360px){
.card-body p{
      display: table-column-group;
}
.card:hover .card-body p{
      display:inherit;
}
.footer-logo{
  width:120px;
}
.footer-logo img{
  width:80%;
}.footer-text {
    position: absolute;
    bottom: 90px;
    font-size: 19px;
    margin-left: 104px;
}
@media (max-width: 360px){
.footer-text {
    position: absolute;
    bottom: 90px;
    font-size: 19px;
    margin-left: 104px;
}

}
.footer-social-icon a {
  margin-right: 0px; 
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 4rem;
}
.mycheckbox{
  display: flex;

}
.mycheckbox input{
  width: auto;
}
.mycheckbox label{
      padding: 0px 7px;
    color: white;
    margin-top: -4px;
    font-size: smaller;
}
.et_pb_text_inner p{
  font-weight: 400px;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.footer-text{
  font-size: 20px;
  margin-left: 115px;
} 

.ptext {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
   padding-bottom: 45px;
}
.ptext4 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.about-card{
box-shadow: none;
border-radius: 0;
}
.card-content p{
  text-align: justify;
}

.footer-section{
  /*height: 320px;*/
}
.para{
  text-align: center;color: white;font-size: 20px;
}
.p-text{
  text-align: center;
}
.footer-text a{
      color: #c21630;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
#fh5co-main {
    
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#fh5co-main .fh5co-narrow-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
}
.form-control{
       -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    height: 54px !important;
    font-size: 18px;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px !important;
}
.form-group input{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
}

.form-group textarea{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
}
/*#message {
    height: 130px !important;
}*/
.btn.btn-md {
    padding: 10px 25px !important;
}
.btn-primary {
    background: #da1212 !important;
    color: #fff !important;
    border: 2px solid #da1212 !important;
  border-radius: 0px !important;
}
.form-group input[type=checkbox]{
  width: 20px;
    height: 20px;
}
.form-check-label{
      margin-left: 6px;
    font-size: 19px;
}
.pd0{
  padding: 10px;
}
.fa-phone {
  transform: scaleX(-1);
}
select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background-color: #eee;
  width: 100%;
  border-width: 0;
  border-radius: 0;
  color: #999;
  font-size: 14px;
  padding: 16px;
}
.et_pb_text_inner p{
font-weight: 400;
}
@media (max-width: 580px) {
  .footer-logo img {
  max-width: min-content;
} 
}
.card-body p{
 overflow: hidden;
 text-overflow: ellipsis;
 display:none;
 -webkit-line-clamp: 2; /* number of lines to show */
 -webkit-box-orient: vertical;
}
@media (max-width: 360px)
{

.ptext {
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 2; /* number of lines to show */
 -webkit-box-orient: vertical;
 padding-bottom: 5px;
} 
}
.footer-text a{
    color: #c21630;
    text-decoration: none;
  pointer-events: none;
  cursor: default;
}
.footer-text{
font-size: 20px;
margin-left: 115px;
} 
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #b78585;
/* color: #b78585; */
font-style: italic;
padding-left: 18px;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}
#fh5co-main {
  
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-main .fh5co-narrow-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 4em 0;
}
.form-control{
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  height: 54px !important;
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px !important;
}
.form-group input{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
}

.form-group textarea{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid #e5e5e5;
  
}
/*#message {
  height: 130px !important;
}*/
.btn.btn-md {
  padding: 10px 25px !important;
}
.btn-primary {
  background: #da1212 !important;
  color: #fff !important;
  border: 2px solid #da1212 !important;
border-radius: 0px !important;
}
.form-group input[type=checkbox]{
width: 20px;
  height: 20px;
  margin: 0px 3px;
}
.form-check-label{
    margin-left: 6px;
  font-size: 19px;
}
h2 {
  width: max-content;
}.fa-phone {
transform: scaleX(-1);
animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) infinite;
}
@keyframes bellshake {
0% { transform: rotate(85deg); }
15% { transform: rotate(80deg); }
30% { transform: rotate(90deg); }
45% { transform: rotate(85deg); }
60% { transform: rotate(90deg); }
75% { transform: rotate(80deg); }
85% { transform: rotate(90deg); }
92% { transform: rotate(80deg); }
100% { transform: rotate(85deg); }
}
.footer-text a img{
width: 2%;
  margin: 0px 6px;
  padding: 0px 0px;
  margin-bottom: 4px;
}
.footerhead p{
  text-align: center;
  color: white;
  font-size: 20px;
}
.copyright-text,.footer-social-icon, .footer-info ,.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer-info img{
  width: 1.2rem;
  margin: 0px 3px;
  padding-bottom: 5px;
}
.footer-info{
  display: grid;
    text-align: center;
    font-size: 18px;
}
.footer-info a{
  color: #fff;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
.fab:hover {
  color: #c21630;
}
.copyright-text{
display: grid;
text-align: center;
}
.et_pb_image_0 .et_pb_image_wrap img {
  min-height: 100%;
  width: 100%;
}


@media (max-width: 580px){
.span-img-b{
  margin-bottom: 100px;
}
.span-img-t{
  margin-top: 50px;
}
}
.active a{
border-bottom: 3px solid #c21630;
}
.txt-center{
  text-align: -webkit-center;
}
.modal {
  top: 40px;
}



.effect-4,
.effect-5,
.effect-6{border: 0; padding: 5px 0 7px; border: 1px solid transparent; border-bottom-color: #ccc; transition: 0.4s;}

.effect-4:focus,
.effect-5:focus,
.effect-6:focus{padding: 5px 14px 7px; transition: 0.4s;}

/* .effect-4 ~ .focus-border{position: absolute; height: 0; bottom: 0; left: 0; width: 100%; transition: 0.4s; z-index: -1;}
.effect-4:focus ~ .focus-border{transition: 0.4s; height: 36px; border: 2px solid #3399FF; z-index: 1;} */
.thankx{
  margin-top: 80px;
}
.thx{
  padding: 2rem;
}
.thx-txt{
  text-align: center;
  color: #fff;
}
.thx-txt h1, h3{
color: #fff; 
}
.thx-txt p {
  color: #fff;
}
.thx-txt p a{
  text-decoration: none;
  color: #fff;
}
.back-text p{
  color: #000;
}
.p-white p{
  color: #fff;
}
.p-white h1,h3{
  color: white;
}


.glass {
  position: relative;
  border-radius: 25px;
  background: rgb(255 255 255);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 35px;
  margin-top: -300px;
  z-index: 100;

}
.bd-white {
  border: 2px solid #fff;
}
.mylabel{
  padding: 3px 25px;
  position: relative;
}